{% extends 'base.html' %}
{% load utils %}

{% block css %}
    <link href='/static/css/account/password_change.css' rel="stylesheet">
{% endblock %}


{% block container %}
    <div class="container-fluid main">
            <h3 class="page-header">密码更改：{{ form.user.name }}（{{ form.user.email }}）</h3>
            <form class="col-lg-5" action="{% url 'global_password_change' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_attrs:'class=form-control' }}
                        <p class="help-block">{{ field.errors.as_text }}</p>
                        {% if field.help_text %}
                            <p class="help-block">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="hidden" name="id" value="{{ form.user.id }}">
                <div class="well btn-panel clearfix">
                    <button type="submit" class="btn btn-success pull-right">提交</button>
                    <a href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}" class="btn btn-default pull-right">取消</a>
                </div>
            </form>
    </div>


{% endblock %}