{% extends 'static-frame.html' %}
{% load utils %}

{% block base-css %}
    <link href='/static/plugins/metismenu/metisMenu.css' rel="stylesheet">
    <link href='/static/plugins/metismenu/vertical.css' rel="stylesheet">
    <link href='/static/css/crm/crm-base.css' rel="stylesheet">
    {% block css %}{% endblock %}
{% endblock %}

{% block nav-head %}
    {% include 'topnav-mixin.html' %}
    {% block sub-head %}{% endblock %}
{% endblock %}

{% block base-container %}
    <div class="sidebar-container">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="menu1">
                <li class="">
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <span class="fa fa-fw fa-github fa-lg"></span>
                        主页
                    </a>
                    <ul aria-expanded="false" class="collapse" style="height: 0px;">
                        <li>
                            <a href="https://github.com/onokumus/metisMenu">
                                <span class="fa fa-fw fa-code-fork"></span> Fork
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/onokumus/metisMenu">
                                <span class="fa fa-fw fa-star"></span> Star
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/onokumus/metisMenu/issues">
                                <span class="fa fa-fw fa-exclamation-triangle"></span> Issues
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a class="has-arrow" href="#" aria-expanded="false">销售管理</a>
                    <ul aria-expanded="false" class="collapse" style="height: 0px;">
                        <li><a href="{% url 'enroll_for_salesman' %}">学员报名</a></li>
                        <li><a href="#">item 0.2</a></li>
                        <li><a href="http://onokumus.com">onokumus</a></li>
                        <li><a href="#">item 0.4</a></li>
                    </ul>
                </li>
                <li class="">
                    <a class="has-arrow" href="#" aria-expanded="false">学生管理</a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% url 'course_management' %}">课程管理</a></li>
                        <li><a href="#">item 1.2</a></li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">item 1.3.1</a></li>
                                <li><a href="#">item 1.3.2</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">item 1.4</a></li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">Menu 1.5</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">item 1.5.1</a></li>
                                <li><a href="#">item 1.5.2</a></li>
                                <li><a href="#">item 1.5.3</a></li>
                                <li><a href="#">item 1.5.4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a class="has-arrow" href="#" aria-expanded="false">老师管理</a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">item 2.1</a></li>
                        <li><a href="#">item 2.2</a></li>
                        <li><a href="#">item 2.3</a></li>
                        <li><a href="#">item 2.4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags|to_bootstrap_tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block container %}{% endblock %}
    </div>

{% endblock %}

{% block base-script %}
    <script src="/static/plugins/metismenu/metisMenu.js"></script>
    <script>
        $(function () {
            /*metisMenu*/
            $('#menu1').metisMenu();
        });
    </script>
    {% block script %}{% endblock %}
{% endblock %}